html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'steps';
    src: url(../fonts/Steps-Mono.otf) format('opentype');
  }
@font-face {
    font-family: 'authentic_sans';
    src: url(../fonts/AUTHENTICSans-Condensed-60.otf) format('opentype');
}

body{
    width: 99vw;
    height: 100vh;

}

text{
    font-family: 'steps';
}

.menu{
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 3px solid cornflowerblue;
    width: 100%;
}

.menu a{
    font-family: 'steps';
    float: left;
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 27pt;
    float: right;
}

a{
    font-size: 27pt;
    color: cornflowerblue;
    text-transform: uppercase;

}

.abstractNote{
    font-size: 14px;
}

.scaling-svg-container{
    /*position: relative; */
    height: 0; 
    width: 100%;
    padding: 0;
    padding-bottom: 100%;   
}

svg {
    /*position: absolute; */
    padding-top: 50px;
    width: 99vw; 
    height: auto;
    left: 0; 
    top: 0;
}

svg g .book text,
svg g .conference text,
svg g .essay text {
    font-size: 35px;
    fill: salmon;
}
svg g .author text {
    font-size: 22px;
    fill: cornflowerblue;
}
svg g .collective text {
    font-size: 35px;
    fill: cornflowerblue;
}
svg g path{
    stroke: salmon;
}

svg g .contributors path{
    stroke: cornflowerblue;
    stroke-dasharray: 5;
}


.list{
    margin: 3%;
}
li{
    font-family: 'steps';
    color: cornflowerblue;
    margin-bottom: 30px;
}

p{
    font-family: "authentic_sans";
    font-size: 24px;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}

a:hover {
    color: salmon;
  }